<div class="row" *ngFor="let unaDireccion of listaDirecciones" [formGroup]="formDir">
    <table class="table">
        <thead class="thead-dark" style="text-align: center;">
        <tr>          
            <th scope="col">tipovia</th>            
            <th scope="col">nombrevia</th>
            <th scope="col">edificio</th>
            <th scope="col">letra edificio</th>
            <th scope="col">piso</th>
            <th scope="col">puerta</th>
            <th scope="col">cp</th>
        </tr>
        </thead>
        <tbody >
            
                <th scope="row"> </th>
                <tr *ngFor="let ladireccion of unaDireccion">          
                    <td>
                        <input type="radio" name="dir" (click)="dirSeleccionada(ladireccion)">
                        <label for="defaultUnchecked">{{ladireccion.tipoVia}}</label>
                       
                    </td>
                    <td>{{ladireccion.nombreVia}}</td>
                    <td>{{ladireccion.numeroEdificio}}</td>
                    <td>{{ladireccion.letraedificio}}</td>
                    <td>{{ladireccion.numeroPiso}}</td>
                    <td>{{ladireccion.puerta}}</td>
                    <td>{{ladireccion.cp}}</td>
                </tr>
           
        
        </tbody>
    </table>   
    <div class="row">
    
        <div class="col-md-4" style="margin-top:10px;">

            <div class="btn-group" role="group" aria-label="Basic example">
                <button  class="btn btn-success" style="width:80%;" > <a [routerLink]="['../../cliente/PanelUsuario']" class="card-link" style="color: cornsilk;">modificar</a></button>
                <button type="submit" (click)="delete()" style="width:80%;"   class="btn btn-success" >
                    eliminar
                </button>
            </div>
            
            <br />
        </div>

    </div>
</div>       

