
            <h2>Login</h2>
            <br />
            
            <form [formGroup]="formLogin" (ngSubmit)="logarCliente()">
                <legend style="font-size:14px; color:green">DATOS DE ACCESO</legend>
                <div class="row">
            
                    <div class="col-md-1">
            
                    </div>
            
                    <div  style="width:25%;float:left;min-height:1px;padding-right:15px; padding-left:15px;">
                        <div class="form-group">
                            <label for="email">CORREO ELECTRONICO *</label>
                            <input type="text" class="form-control"  id="email" name="email" formControlName="email" placeholder="...Direccion de email...">
                        </div>
            
                        <span class="danger" *ngIf="formLogin.controls['email'].errors?.pattern">
                            <p> Error en el formato del email </p>
                        </span>
                               
                    </div>
            
                    <div class="col-md-1">
            
                    </div>
                    <br />
                    
                </div>

                <div class="row">
            
                    <div class="col-md-1">
            
                    </div>
            
                    <div  style="width:25%;float:left;min-height:1px;padding-right:15px; padding-left:15px;">
                        <div class="form-group">
                            <label for="password">CONTRASEÑA *</label>
                            <input type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="...Minimo de 6 caracteres...">
                          </div>
            
                          <span class="danger" *ngIf="formLogin.controls['password'].errors?.required">
                            <p> El campo contarseña es obligatorio</p>
                        </span>
                               
                    </div>
            
                    <div class="col-md-1">
            
                    </div>
                    <br />
                    
                </div>
                
                
            
                <div class="row" style="margin-top:10px;">
            
                </div>
            
            
                <br />
            
                
            
                <div class="row">
                    <div style="width:23%; float:left; min-height:1px; padding-left: 15px;">
                        <div class="form-group">
            
                            <p style="font-style:italic; font-size: 16px; color:#666666; padding-left: 93px; "> 
                                
                                    <u><a href="../../cliente/registro" class="botn" style="color: rgb(12, 12, 12);">
                                        ¿No tienes cuenta? <br/>Registrate 
                                    </a></u>
                                     
                            </p>
                        </div>
            
            
                    </div>
            
                    <div class="col-md-4" style="margin-top:10px;">
            
                        <button type="submit" style="width:80%;" class="btn btn-success" [disabled]="formLogin.status=='INVALID'">
                            <span style="color:white" class="glyphicon glyphicon-ok">
                                ACCEDER
                            </span>
                        </button>
                        <br />
                    </div>
            
            
                </div>
              </form>
            
            