    <div class="contenedor" style="padding-top: 4rem;">
        <div class="izq">
            <div class="login-main-text">
                <div class="card" style="width: 18rem;">
                
                    <div class="card-body">
                        <h5 class="card-title">Bienvenido!!</h5>
                        </div>
                        <ul class="list-group list-group-flush">    
                            <li class="list-group-item"><br></li>    
                        <a [routerLink]="['../../cliente/GestionPedido']" class="card-link"><li class="list-group-item">Gestionar Pedido Actual</a>
                        <a [routerLink]="['../../cliente/historial']" class="card-link"><li class="list-group-item">Ver Pedidos</a>  
                        <a [routerLink]="['../../cliente/Direccion']" class="card-link"><li class="list-group-item">Introducir otra direccion</a>
                        <a [routerLink]="['../../cliente/ListaDirecciones']" class="card-link"><li class="list-group-item">Mi Lista de Direcciones</a>  
                        <a [routerLink]="['../../cliente/InformacionPersonal']" class="card-link"><li class="list-group-item">Mi Informacion Personal</a>
                        <a [routerLink]="['../../cliente/DatosAcceso']" class="card-link"><li class="list-group-item">Datos de Acceso</li></a>
                        </ul>
                        <div class="card-body">
                        <a [routerLink]="['../../Tienda/productos']"
                        class="card-link">Ir a la tienda</a>
                        <a [routerLink]="['../../Cliente/login']" class="card-link">Cerrar Sesion</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="der" *ngFor="let unPedido of outPutPedido">
            <div class="card" style="width: 50rem;">
                <div class="card-header">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">PRODUCTO</th>
                            <th scope="col">CANTIDAD</th>
                            <th scope="col">DISEÑO</th>
                            <th scope="col">PRECIO U.</th>
                          </tr>
                        </thead>
                        <tbody  *ngFor="let item of unPedido.listaProductos">
                            
                                <tr scope="row" *ngFor="let list of item[0]">
                                    <td>
                                        <div class="aux">  
                                            <div >
                                                <img [src]="list.camisa.imagen" style="width: 5rem; height: 5rem;" >
                                            </div>                                             
                                        </div>
                                    </td>
                                    <td> 
                                        <div class="aux" style="width: 3rem; text-align: center;" >
                                            <span><b>{{list.camisa.cantidad}}</b></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="aux" >
                                            <img [src]="item[1].imagen" style="width: 5rem; height: 5rem;" >
                                        </div>
                                    </td>
                                    <td>
                                       <div style="width: 3rem; text-align: center;">
                                           <span><b>{{list.precio}} €</b></span>
                                       </div>
                                    </td>
                                </tr>
                            
                        </tbody>      
                    </table>
                </div>
                <div class="datos">
                    <ul class="list-group list-group-flush">
                    
                        <li class="list-group-item" id="fecha" >Fecha del Pedido: <span class="badge badge-primary badge-pill"> {{unPedido.fechaPedido}}</span></li>
                    
                        <li class="list-group-item"  id="tipoEnvio">Tipo de Envio: <span class="badge badge-primary badge-pill"> {{unPedido.tipodeEnvio}}</span></li>
                    
                        <li class="list-group-item"  id="gastosEnvio">Gastos de envio: <span class="badge badge-primary badge-pill"> {{unPedido.gastosEnvio}} €</span></li>
                    
                        <li class="list-group-item"  id="subtotal">Subtotal: <span class="badge badge-primary badge-pill"> {{unPedido.subtotal}} €</span></li>
                    
                        <li class="list-group-item"  id="estadoEnvio">Estado del Pedido: <span class="badge badge-primary badge-pill"> {{unPedido.estatus}}</span></li>
                    
                        <li style="color: rgb(7, 7, 214);" class="list-group-item" id="total">Total: <span class="badge badge-primary badge-pill"><strong> {{unPedido.total}} €</strong></span></li>
                    
                    </ul>
                </div>
        </div>
        <div class="botones">
            <button type="submit" style="width:100%;" (click)="guradaPedido()" class="btn btn-success" >
                <span style="color:white" class="glyphicon glyphicon-ok">
                   <a style="color: cornsilk;">confrmar compra</a> 
                </span>
            </button>
        </div>
    </div>

  
  